/* 메인배너  */
.mainbanner{height: 653px;background:url(../img/main/mainbanner1.png) no-repeat center / cover;text-indent:-99999px;font-size: 0;}
/* product-new */
.product-new{padding-top: 127px;padding-bottom: 80px;}
.product-new h3{text-align: center;font-size: 40px;color:#595147;font-weight:700;font-family:'Philosopher',serif;margin-bottom: 55px;}
.new-list>li{float:left;margin: 0 11px;text-align: center;}
.new-list .new-title{font-size: 12px;color:#333;margin-top: 18px;}
.new-list .new-des{font-size: 15px;color:#333;margin-top: 8px}
.new-list .new-price{font-size: 14px;color:#666;margin-top: 15px}
/* product-best  */
.product-best{background-color: #465a4f;padding-top: 100px;padding-bottom: 80px;}
.product-best h3{color:#fffef2;font-size: 40px;font-weight: 700;font-family:'Philosopher',serif;height: 40px;line-height: 40px;text-align: center;margin-bottom: 60px;}
.best-list{padding: 0 39.5px;}
.best-list>li{float:left;text-align: center;color:#fffef2;margin-right: 27px;}
.best-list>li:last-child{margin-right: 0;}
.best-list .best-title{font-size: 18px;margin-top: 18px;}
.best-list .best-price{font-size: 16px;margin-top: 12px;}
.best-list .point{margin-top: 18px;}

/*product-different */
.product-different{padding: 80px 0;}
.product-different h3{color:#464646;font-size: 30px;font-family:'Philosopher',serif;font-weight: 700;text-align: center;margin-bottom: 62px;}
.product-different .different-list{width:1256px;margin: auto;}
.product-different .different-list>li{float: left;margin: 0 43px;width:228px;}
.product-different .different-list .different-textbox{font-size:16px;color:#666;line-height:28px;padding-top: 55px;text-align: center;letter-spacing: -1px;}

/* 스토어 */
.store{height: 655px;background-color: #f8f6e5;position: relative;}
.store .right-bg{position: absolute;left:50%;top:0;height: 655px;width: 50%;background-color: #eaf7f9;}
.store .inner{z-index:1000;position: relative;}
.store .store-left{width: 50%;height: 655px;float: left;padding-top: 128px;padding-left: 37px;box-sizing: border-box;}

.store .store-left h3{font-size: 40px;color:#464646;font-weight: 700;font-family:'Philosopher',serif;margin-bottom: 40px;}
.store .store-left p:nth-of-type(1){font-size: 38px;color:#333;font-weight: 700;margin-bottom: 30px;}
.store .store-left p:nth-of-type(2){font-size: 18px;color:#666;line-height: 21px;}
.store .store-left p:nth-of-type(3){font-size: 21px;line-height: 36px;color:#666;margin-top: 54px;}

.store .store-left .new-store-more{display: block;width: 220px;height: 60px;color:#fff;font-size: 14px;line-height:60px;text-align: center;background-color: #465a4f;margin-left: 146px;margin-top: 79px;}

.store .store-right{width: 50%;height: 655px;float: left;padding-left: 58px;padding-top: 69px;box-sizing: border-box;}
.store .store-right .slide-control{margin-top: 46px;margin-left: 15px;}
.store .store-right .slide-control button{float: left;text-indent: -9999px;font-size: 0;width: 49px;height: 15px;}
.store .store-right .slide-prev-btn{background: url(../img/main/prev-arrow.png) no-repeat;margin-right: 44px;}
.store .store-right .slide-next-btn{background: url(../img/main/next-arrow.png) no-repeat;}


/* sns */
.sns{padding-top: 190px;padding-bottom: 100px;}
.sns h3{color:#464646;font-size: 53px;font-weight: 700;font-family:'Philosopher',serif;margin-bottom: 64px;text-align: center;}
.sns .sns-list-instagram{width:1232px;margin: auto;}
.sns .sns-list-instagram>li{float: left;margin: 0 14px;width:280px;text-align: center;}
.sns .sns-list-instagram .sns-textbox{margin-top: 37px;font-size: 24px;color:#333;}

/* comment */
.comment{padding-top: 190px;padding-bottom: 175px;background: #85918a;text-align: center;}