/* 메인배너  */
.mainbanner{height: 653px;background:url(../img/main/mainbanner1.png) no-repeat center / cover;text-indent:-99999px;font-size: 0;}

/* 스토어 */
.store{height: 655px;background-color: #f8f6e5;position: relative;}
.store .right-bg{position: absolute;left:50%;top:0;height: 655px;width: 50%;background-color: #eaf7f9;}
.store .inner{z-index:1000;position: relative;}
.store .store-left{width: 50%;height: 655px;float: left;padding-top: 128px;padding-left: 37px;box-sizing: border-box;}

.store .store-left h3{font-size: 40px;color:#464646;font-weight: 700;font-family:'Philosopher',serif;margin-bottom: 40px;}
.store .store-left p:nth-of-type(1){font-size: 38px;color:#333;font-weight: 700;margin-bottom: 30px;}
.store .store-left p:nth-of-type(2){font-size: 18px;color:#666;line-height: 21px;}
.store .store-left p:nth-of-type(3){font-size: 21px;line-height: 36px;color:#666;margin-top: 54px;}

.store .store-left .new-store-more{display: block;width: 220px;height: 60px;color:#fff;font-size: 14px;line-height:60px;text-align: center;background-color: #465a4f;margin-left: 146px;margin-top: 79px;}

.store .store-right{width: 50%;height: 655px;float: left;padding-left: 58px;padding-top: 69px;box-sizing: border-box;}
.store .store-right .slide-control{margin-top: 46px;margin-left: 15px;}
.store .store-right .slide-control button{float: left;text-indent: -9999px;font-size: 0;width: 49px;height: 15px;}
.store .store-right .slide-prev-btn{background: url(../img/main/prev-arrow.png) no-repeat;margin-right: 44px;}
.store .store-right .slide-next-btn{background: url(../img/main/next-arrow.png) no-repeat;}